<!DOCTYPE html>

<html>

    <head>
        <title>Weather App</title>
        <link rel="icon" href="./_img/weather.png">
        <link rel="stylesheet" href="./_css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get your weather!</p>
            <form action="">
                <input type="text" name="" id="" placeholder="Location">
                <button>Search</button>
            </form>

            <p id="message-1"></p>
            <img id="image-forecast" src="" alt="">
            <p id="message-2"></p>
            <p id="message-3"></p>
            <br><br>
            <p id="message-4"></p>
            <p id="message-5"></p>
        </div>
        {{>footer}}
        <script src="./_js/app.js"></script>
    </body>

</html>